{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Productos para Peces</title>
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Productos para Peces</h1>

  <!-- Sección Comida -->
  <h2>Comida</h2>
  <div class="contenedor">
    <div class="producto">
      <img src="{% static 'imagenes/comidaPEZ1.png' %}" alt="Lomas Betta Premium">
      <h3>Lomas Betta Premium</h3>
      <p>Alimento premium para pez Betta.</p>
      <p class="precio">$90 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/comidaPEZ2.png' %}" alt="Incros Vital Flake">
      <h3>Incros Vital Flake</h3>
      <p>Escamas nutritivas para peces ornamentales.</p>
      <p class="precio">$120 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/comidaPEZ3.png' %}" alt="Tetra Goldfish Flakes">
      <h3>Tetra Goldfish Flakes</h3>
      <p>Escamas enriquecidas con vitamina C.</p>
      <p class="precio">$150 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/comidaPEZ4.png' %}" alt="Omega One Cíclidos">
      <h3>Omega One Cíclidos</h3>
      <p>Pellets con Omega 3 y 6 para cíclidos.</p>
      <p class="precio">$200 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/comidaPEZ5.png' %}" alt="Tropical Supervit">
      <h3>Tropical Supervit</h3>
      <p>Mezcla de 8 escamas profesionales.</p>
      <p class="precio">$180 MXN</p>
    </div>
  </div>

  <!-- Sección Extras para Pecera -->
  <h2>Extras para Pecera</h2>
  <div class="contenedor">
    <div class="producto">
      <img src="{% static 'imagenes/extrapecera1.jpg' %}" alt="Caracoles acuáticos">
      <h3>Caracoles acuáticos</h3>
      <p>Ayudan a mantener limpia la pecera.</p>
      <p class="precio">$60 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/extrapecera2.jpg' %}" alt="Camarones ornamentales">
      <h3>Camarones ornamentales</h3>
      <p>Coloridos y útiles para el ecosistema.</p>
      <p class="precio">$100 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/extrapecera3.jpg' %}" alt="Plantas flotantes">
      <h3>Plantas flotantes</h3>
      <p>Decoración natural y refugio para peces.</p>
      <p class="precio">$80 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/extrapecera4.jpeg' %}" alt="Rocas decorativas">
      <h3>Rocas decorativas</h3>
      <p>Ideal para acuarios plantados y paisajismo.</p>
      <p class="precio">$150 MXN</p>
    </div>

  

  <!-- Sección Peceras -->
  <h2>Peceras</h2>
  <div class="contenedor">
    <div class="producto">
      <img src="{% static 'imagenes/pecera1.jpg' %}" alt="Pecera decorativa con plantas">
      <h3>Pecera decorativa</h3>
      <p>Diseño con plantas acuáticas y piedras.</p>
      <p class="precio">$1,200 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/pecera2.png' %}" alt="Acuario plantado">
      <h3>Acuario plantado</h3>
      <p>Montaje naturalista con iluminación LED.</p>
      <p class="precio">$2,500 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/pecera3.png' %}" alt="Pecera pequeña minimalista">
      <h3>Pecera minimalista</h3>
      <p>Diseño compacto ideal para espacios reducidos.</p>
      <p class="precio">$900 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/pecera4.png' %}" alt="Acuario pequeña con plantas">
      <h3>Acuario pequeño</h3>
      <p>Tanque con plantas  verdes, filtración avanzada.</p>
      <p class="precio">$3,800 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/pecera5.png' %}" alt="Pecera Premium con gabinete sobre ella con filtro y luces">
      <h3>Pecera rectangular con buro</h3>
      <p>Diseño básico con grava blanca y filtro.</p>
      <p class="precio">$9,100 MXN</p>
    </div>
  </div>

    <a href="{% url 'productos' %}" class="boton-producto">Regresar</a>
</body>
</html>
