{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    <title>perros</title>
</head>
<body>
    <h1>Comida</h1>
    <div class="contenedor">
        <div class="producto">
            <img src="{% static 'imagenes/comida1.jpeg' %}" alt="dog chaw">
            <h3>Croquetas para cachorro Premium 3kg </h3>
            <p>Especial para crecimiento saludable cachorros y perros pequeños..</p>
            <p class="precio">$450 MXN</p>
        </div>

        <div class="producto">
            <img src="{% static 'imagenes/comidap2.jpeg' %}" alt="pedigree gold heath">
            <h3>Croquetas para adulto 22kg </h3>
            <p>Nutrición balanceada para perros adultos.</p>
            <p class="precio">$3800 MXN</p>
        </div>

        <div class="producto">
            <img src="{% static 'imagenes/comidap3.jpeg' %}" alt="ganador Premium">
            <h3>cachorro de 4kg </h3>
            <p>Deliciosa y fácil de digerir.</p>
            <p class="precio">$250 MXN</p>
        </div>

        <div class="producto">
            <img src="{% static 'imagenes/comidap4.jpeg' %}" alt="ganador Premium super foods">
            <h3>para adulto y razas medianas 8kg </h3>
            <p>con super food:camote,aceite de coco y arandanos.</p>
            <p class="precio">$420 MXN</p>
        </div>

        <div class="producto">
            <img src="{% static 'imagenes/comidap5.jpeg' %}" alt="Eukanuda">
            <h3>para razas pequeñas 9kg</h3>
            <p>Ideal para control de peso,mente y energia.</p>
            <p class="precio">$400 MXN</p>
        </div>
  </div>
  <h1>Premios</h1>

  <div class="contenedor">
    <div class="producto">
      <img src="{% static 'imagenes/premiosp1.jpg' %}" alt="Pedigree Biscrok Cachorro">
      <h3>Pedigree Biscrok Cachorro</h3>
      <p>Galletas con calcio y vitaminas para cachorros.</p>
      <p class="precio">$85 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/premiosp2.jpg' %}" alt="Fruitables Pumpkin & Cranberry">
      <h3>Fruitables Pumpkin & Cranberry</h3>
      <p>Premios horneados bajos en calorías con sabor a calabaza y arándano.</p>
      <p class="precio">$120 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/premiosp3.jpg' %}" alt="Purina Pro Plan Lite Snackers">
      <h3>Purina Pro Plan Lite Snackers</h3>
      <p>Premios horneados bajos en grasa y ricos en fibra.</p>
      <p class="precio">$150 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/premiosp4.jpg' %}" alt="Smart Treats Calming">
      <h3>Smart Treats Calming</h3>
      <p>Premios naturales y calmantes hechos a mano.</p>
      <p class="precio">$130 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/premiosp5.jpg' %}" alt="Pedigree Dentastix">
      <h3>Pedigree Dentastix</h3>
      <p>Premios dentales para razas pequeñas, reducen placa y sarro.</p>
      <p class="precio">$95 MXN</p>
    </div>
  </div>
  <h1>Camas</h1>


  <div class="contenedor">
    <div class="producto">
      <img src="{% static 'imagenes/cama1.jpg' %}" alt="Cama acolchada verde">
      <h3>Cama acolchada verde</h3>
      <p>Diseño ovalado con cojín suave y entrada baja.</p>
      <p class="precio">$750 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/cama2.jpg' %}" alt="Cama moderna de madera">
      <h3>Cama moderna de madera</h3>
      <p>Estilo elegante con patas de madera y cojín gris.</p>
      <p class="precio">$1,200 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/cama3.jpg' %}" alt="Cama gigante peluche gris">
      <h3>Cama gigante peluche gris</h3>
      <p>Espacio amplio y acolchado para máximo confort.</p>
      <p class="precio">$1,500 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/cama4.jpg' %}" alt="Cama rectangular gris">
      <h3>Cama rectangular gris</h3>
      <p>Diseño clásico con bordes elevados y tela suave.</p>
      <p class="precio">$900 MXN</p>
    </div>

    <div class="producto">
      <img src="{% static 'imagenes/cama5.jpg' %}" alt="Cama peluche beige">
      <h3>Cama peluche beige</h3>
      <p>Material extra suave, ideal para perros pequeños.</p>
      <p class="precio">$1,100 MXN</p>
    </div>
  </div>
</body>

    
</body>
<a href="productos.html">regresar a productos </a>
</html>