{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>productos</title>
</head>
<body>
    <h1>¿Qué es tu mascota?</h1>

    <div class="contenedor">
        <div class="item">
            <img src="{% static 'imagenes/perros.jpg' %}" alt="perros">
            <a href="{% url 'ppagina1' %}" class="boton-producto">perros</a>
        </div>

        <div class="item">
            <img src="{% static 'imagenes/gatos.jpg' %}" alt="gatos">
            <a href="{% url 'ppagina2' %}" class="boton-producto">gatos</a>
        </div>

        <div class="item">
            <img src="{% static 'imagenes/aves.jpg' %}" alt="aves">
            <a href="{% url 'ppagina3' %}" class="boton-producto">aves</a>
        </div>

        <div class="item">
            <img src="{% static 'imagenes/pez.jpg' %}" alt="pez">
            <a href="{% url 'ppagina4' %}" class="boton-producto">peces</a>
        </div>
    </div>

    <a href="{% url 'index' %}" class="boton-producto">Regresar</a>
</body>
</html>
