{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>productos</title>
</head>
<body>
    <header class="navbar">
      <img
        src="{% static 'imagenes/LOGO.png' %}"
        alt="Logo Elefante Veterinaria"/>
      <nav>
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'doctores' %}">Nuestros doctores</a>
        <a href="{% url 'servicios' %}">Servicios</a>
        <a href="{% url 'productos' %}">Productos</a>
        <a href="{% url 'sucursales' %}">Sucursales</a>
      </nav>
    </header>

    <h1>¿Qué es tu mascota?</h1>

    <div class="contenedor">
        <div class="item">
            <img src="{% static 'imagenes/perros.jpg' %}" alt="perros">
            <a href="{% url 'ppagina1' %}" class="boton-producto">perros</a>
        </div>

        <div class="item">
            <img src="{% static 'imagenes/gatos.jpg' %}" alt="gatos">
            <a href="{% url 'ppagina2' %}" class="boton-producto">gatos</a>
        </div>

        <div class="item">
            <img src="{% static 'imagenes/aves.jpg' %}" alt="aves">
            <a href="{% url 'ppagina3' %}" class="boton-producto">aves</a>
        </div>

        <div class="item">
            <img src="{% static 'imagenes/pez.jpg' %}" alt="pez">
            <a href="{% url 'ppagina4' %}" class="boton-producto">peces</a>
        </div>
    </div>
    
    <footer>
      <p>&copy; 2026 - Facultad de Contaduría Pública y Administración</p>
    </footer>
</body>
</html>
